:root {
  --redshank-closable-color: rgb(101, 101, 101);
  --redshank-text-color: #000000d9;
  --redshank-bg-modal-color: #ffffff;
  --redshank-bg-input-color: #ffffff;
  --redshank-bg-color: rgba(0, 0, 0, 0.3);
}
