@import 'colors.css';
@import 'animation.css';
@import 'size.css';


*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

.redshank-modal-wrapper {
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box;
  padding: 0;
  top: 0;
  left: 0;
  color: var(--redshank-text-color);
  background-color: var(--redshank-bg-color);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: fixed;
  z-index: 1010;
}

.redshank-modal-wrapper .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
}

.position-left {
  justify-content: center;
  align-items: flex-start;
}

.position-right {
  justify-content: center;
  align-items: flex-end;
}

.position-center {
  justify-content: center;
  align-items: center;
}

.position-bottom {
  justify-content: flex-end;
  align-items: center;
}

.position-top {
  justify-content: flex-start;
  align-items: center;
}

.ant-closable {
  cursor: pointer;
}

.rotate {
  transform: rotate(-90deg);
}

.icon {
  width: 28px;
  height: 28px;
}

.btn-closable {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 10px;
  line-height: 0;
  color: var(--redshank-closable-color);
  outline: none;
}

.btn-closable:focus {
  outline: none;
}

.modal-content {
  background-color: var(--redshank-bg-modal-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 10px;
}

.modal-header{
  display: flex;
  justify-content: center;
}

.modal-footer.position-end {
  display: flex;
  justify-content: flex-end;
}

.modal-footer.position-start {
  display: flex;
  justify-content: flex-start;
}

.modal-footer.position-center {
  display: flex;
  justify-content: center;
}

